.header{
    margin-top: -85px;
    background-color: #CED4DA;
    margin-left: -20px;
    width: 100vw;
}
 

.header{
    font-size: 32px;
    padding-left: 10px;
    cursor:pointer;
    color: #012970;
}
